*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
	height: 70px;
	width: auto;
	background: #EC715F;
}
.navlist{
	display: flex;
	justify-content: center;
	
}

.navlist-item{
	display: flex;
	list-style:none;
	font-size: 16px;
	color: #FAFAFA;
	text-align:center;
    padding:20px 30px;
}
.space{
	display: flex;
	padding-left: 10%;
}

.demo1{
  font-size:5em;
	text-align:center;
	line-height:0.95em;
	font-weight:bold;
	color: #FFAB91;
	text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}

.orenge{
  color: #FF9933
}
